<html>
  <head>
    <title>Distinguish dogs and cats</title>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div id="droparea">
      <br>
      <br>
      <br>
      ここにドロップしてください。
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>
    <br>
    <div id="status1"></div>
  </body>
</html>
